*:focus {
    outline: none;
}

.auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.authLabel {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    color: #FCF9F9;
}
.authInput {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    box-sizing: border-box;

    width: 601px;
    height: 49px;

    border: 1px solid #FCF9F9;
    border-radius: 200px;

    color: #FCF9F9;
    background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.search {
    text-align: center;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #318B37;
    color: #FCF9F9;
    padding: .25rem 0;
    font-size: 24px;
}

