/* ------------------------------------POPUP---------------------------------- */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}

.popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------ADD TAG---------------------------------- */

.addTagBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    box-sizing: border-box;

    width: 1000px;
    height: 400px;

    background: #0A1E27;
    border: 3px solid #318B37;
    border-radius: 20px;
}

.addTagTitle {
    margin-top: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: right;
    gap: 250px;
}

.addTagContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.addTagImage {
    object-fit: cover;
    object-position: 50%;
    width: 400px;
    height: 200px;

    border-radius: 20px;
}

.addTagImage:hover {
    cursor: pointer;
}

.addTagImageTitle {
    display: flex;
    justify-content: space-around;
}

.addTagImageClear:hover {
    cursor: pointer;
}
/* ------------------------------------CERTIFICATE BY ID---------------------------------- */

.certificateByIdBlock {
    display: flex;
    flex-direction: column;
    gap: 90px;

    box-sizing: border-box;

    width: 1427px;
    height: 850px;

    background: #0A1E27;
    border: 3px solid #318B37;
    border-radius: 20px;

    overflow: scroll;
}

.certificateByIdShopAndTagSize {
    width: 250px;
}

.certificateByIdTitle {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 281px;
}

.certificateByIdOrder {
    display: flex;
    align-items: center;
    gap: 124px;
}

.certificateByIdContent {
    margin-left: 70px;
    display: flex;
    gap: 115px;
}

.certificateByIdShopAndTags {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.certificateByIdShop {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.certificateByIdTags {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.certificateByIdDescription {
    display: flex;
    align-items: center;
    text-align:center;
    text-space: 15px;

    width: 926px;
    height: 357px;

    background: #053829;
    border-radius: 20px;
}

.certificateByIdImages {
    margin-left: 70px;
    display: flex;
    gap: 50px;
}

.certificateByIdSmallImages {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.certificateByIdSmallImage {
    object-fit: cover;
    object-position: 50%;
    width: 333px;
    height: 149px;

    background-color: #FCF9F9;
    border: 3px solid #297334;
    border-radius: 20px;
}

.certificateByIdSmallImage:hover {
    cursor: pointer;
}

.certificateByIdBigImage {
    object-fit: cover;
    object-position: 50%;
    width: 926px;
    height: 513px;

    background-color: #FCF9F9;
    border-radius: 20px;
}

.certificateByIdName {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------SIGN---------------------------------- */

.signBlock {
    display: flex;

    align-items: center;
    flex-direction: column;

    gap: 65px;

    box-sizing: border-box;
    width: 813px;

    background: #0A1E27;
    border: 3px solid #318B37;
    border-radius: 20px;
}

.signInBlock {
    height: 800px;
}
.signUpBlock {
    height: 593px;
}
