/* ------------------------------------POPUP---------------------------------- */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}

.popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------ADD TAG---------------------------------- */

.addTagBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    box-sizing: border-box;

    width: 1000px;
    height: 400px;

    background: #0A1E27;
    border: 3px solid #318B37;
    border-radius: 20px;
}

.addTagTitle {
    margin-top: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: right;
    gap: 250px;
}

.addTagContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.addTagImage {
    object-fit: cover;
    object-position: 50%;
    width: 400px;
    height: 200px;

    border-radius: 20px;
}

.addTagImage:hover {
    cursor: pointer;
}

.addTagImageTitle {
    display: flex;
    justify-content: space-around;
}

.addTagImageClear:hover {
    cursor: pointer;
}
/* ------------------------------------CERTIFICATE BY ID---------------------------------- */

.certificateBlock {
    display: flex;
    flex-direction: column;
    gap: 90px;

    box-sizing: border-box;

    width: 1427px;
    height: 850px;

    background: #0A1E27;
    border: 3px solid #318B37;
    border-radius: 20px;

    overflow: scroll;
}

.certificateShopAndTagSize {
    width: 250px;
}

.certificateTitle {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 200px;
}

.certificateOrder {
    display: flex;
    align-items: center;
    gap: 100px;
}

.certificateOrder > input {
    width: 150px;
    font-size: 32px;
}

.certificateContent {
    margin-left: 70px;
    display: flex;
    gap: 115px;
}

.certificateShopAndTags {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.certificateShop {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.certificateTags {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.certificateDescription {
    display: flex;

    width: 926px;
    height: 357px;

    background: #053829;
    border-radius: 20px;
}

.certificateDescription div {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: fit-content;
    block-size: fit-content;
    word-wrap: break-word;
}

.certificateImages {
    margin-left: 70px;
    display: flex;
    gap: 50px;
}

.certificateSmallImages {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.certificateSmallImage {
    object-fit: cover;
    object-position: 50%;
    width: 333px;
    height: 149px;

    border: 3px solid #297334;
    border-radius: 20px;
}

.certificateSmallImage:hover {
    cursor: pointer;
}

.certificateBigImage {
    object-fit: cover;
    object-position: 50%;
    width: 926px;
    height: 513px;

    border-radius: 20px;
}

.pointer:hover {
    cursor: pointer;
}

.certificateName {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.certificateName > input{
    font-size: 36px;
}

/* ------------------------------------SIGN---------------------------------- */

.signBlock {
    display: flex;

    align-items: center;
    flex-direction: column;

    gap: 65px;

    box-sizing: border-box;
    width: 813px;

    background: #0A1E27;
    border: 3px solid #318B37;
    border-radius: 20px;
}

.signInBlock {
    height: 800px;
}
.signUpBlock {
    height: 593px;
}

/* ------------------------------------TAGS---------------------------------- */

.tagsByCertificateBlock {
    display: flex;
    flex-direction: column;
    gap: 90px;

    box-sizing: border-box;

    width: 500px;
    height: 400px;

    background: #0A1E27;

    border: 5px solid #318B37;
    border-radius: 20px;

    overflow: scroll;
}


.messageBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    box-sizing: border-box;

    width: 500px;
    height: 300px;

    background: #0A1E27;
    border-radius: 20px;
}

.messageInfo {
    border: 3px solid #318B37;
}

.messageWarning {
    border: 3px solid #8b8231;
}

.messageError {
    border: 3px solid #F23A7A;
}

.messageBlockName {
    margin-top: 10px;
}